<ul>
    {% for calendar in calendars %}
    <li>
        <label for="{{ 'calendars-' + calendar.id }}">
            <input type="checkbox" id="{{ 'calendars-' + calendar.id }}" name="calendars" value="{{ calendar.id }}" {% if calendar.selected %} checked {% endif %}>
            {{ calendar.title }}
        </label>
    </li>
    {% endfor %}
</ul>
