/* widget
-------------------------------------------------------------- */

.w-calendar {
  position: relative;
}

.w-calendar__loader-w {
  display: none;
}

.w-calendar--loading .w-calendar__loader-w {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding: 20% 0;
  border: 2px dotted #f1f1f1;
  background-color: #fff;
}

.w-calendar__list {
  margin: 15px 0 20px 0;
}

.w-calendar__list ul {
  margin: 0;
  padding: 0;
}

.w-calendar__list li {
  display: inline-block;
  margin-right: 10px;
  list-style-type: none;
}

.w-calendar__list label {
  cursor: pointer;
}

.w-calendar__list {
  padding: 10px 0;
  border-top: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
}

/* full calendar custom
-------------------------------------------------------------- */

.fc th {
  padding: 5px 0;
  border: none;
  background-color: #00a0e0;
  color: #fff;
}

.fc-unthemed .fc-today  {
  background-color: rgba(0, 160, 224, .05);
}

.fc-state-default {
  outline: none;
  border: 1px solid #f2f2f2;
  background-color: #fafafa;
  background-image: none;
  box-shadow: none;
  text-shadow: none;
}

.fc-toolbar .fc-state-active {
  background-color: #87bb34;
  color: #fff;
}

.fc-state-disabled {
  opacity: .4;
}

.fc-toolbar h2 {
  margin-top: 7px;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.fc-content {
  cursor: pointer;
}


/* loader
-------------------------------------------------------------- */

.w-calendar__loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-top: 1.1em solid rgba(0, 160, 224, 0.32);
  border-right: 1.1em solid rgba(0, 160, 224, 0.32);
  border-bottom: 1.1em solid rgba(0, 160, 224, 0.32);
  border-left: 1.1em solid #00a0e0;
  text-indent: -9999em;
  font-size: 10px;
  transform: translateZ(0);
  animation: load8 1.1s infinite linear;
}

.w-calendar__loader,
.w-calendar__loader:after {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

@-webkit-keyframes load8 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes load8 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg);}
}

/* tingle
-------------------------------------------------------------- */

.tingle-modal {
    background-color: rgba(239, 239, 239, 0.8);
}

.w-calendar-modal__title {
    margin-bottom: 40px;
}
