<h1 class="w-calendar-modal__title">{{event.title}}</h1>

<p>
    {{ event.startDate.format('DD/MM/YYYY HH:mm') }}
    {% if event.location %} − {{ event.location }} {% endif %}
</p>

<p>
    {% if event.safe %}
        {{ event.description | safe }}
    {% else %}
        {{ event.description }}
    {% endif %}
</p>
