<div class="w-calendar js-calendar-loader w-calendar--loading">
    <div class="w-calendar__loader-w">
        <div class="w-calendar__loader">Chargement en cours...</div>
    </div>
    <div class="w-calendar__title">Calendriers à afficher :</div>
    <div class="js-calendar-list w-calendar__list"></div>
    <div class="js-calendar w-calendar__cal"></div>
</div>
